html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

li{
  list-style: none;
  padding-top: 25%;
}

li > * {
  text-decoration: none;
  color: white;
}

a::hover{
  color: #2ec1ac;
}

nav{
  position: fixed;
    left: 0;
    top: 25%;
}